<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Pacepal - Race Details</title>
</head>
<body>
    <nav>
        <div class="default-nav-header">
            <img class="header-img" src="public/img/running_girl.png" alt="main logo image">
            <h1 class="default-header-text">Pacepal</h1>
        </div>
        <div class="default-nav-list">
            <ul>
                <li><a class="nav-link" href="#">Races Calendar</a></li>
                <li><a class="nav-link" href="#">My Races</a></li>
                <li><a class="nav-link" href="#">My Account</a></li>
            </ul>
        </div>
        <img class="mobile-menu-icon" src="public/img/menu.png" alt="menu icon">
    </nav>

    <main>
        <div class="race-details-main-container dark-gray-box-style gray-mobile-box">
            <div class="smaller-padding-and-margin displayed-races-single-container">
                <img class="race-details-smaller-img default-race-img" src="public/img/run1.jpeg" alt="race image">
                <h2 class="default-smaller-header">Sample race title</h2>
                <div class="icon-text-container">
                    <img class="race-details-small-icon" src="public/img/location.png" alt="location icon">
                    <p class="race-details-text">Rome</p>
                </div>
                <div class="icon-text-container">
                    <img class="race-details-small-icon" src="public/img/timetable.png" alt="date icon">
                    <p class="race-details-text">30.01.2024</p>
                </div>
                <div class="icon-text-container">
                    <img class="race-details-small-icon" src="public/img/tag.png" alt="price icon">
                    <p class="race-details-text">40$</p> 
                </div>
                <button class="smaller-race-details-button blue-button" type="button">Sign Up!</button>
            </div>
            <div class="race-details-add-description">
                <h2 class="default-smaller-header">Details</h2>
                <p class="race-details-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. 
                Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. 
                Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. 
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 


                In sit amet felis malesuada, feugiat purus eget, varius magna. Nulla lacinia justo ac nulla ullamcorper, nec venenatis risus tempor. Donec nec justo rutrum, dignissim mauris in,
                hendrerit justo. Donec ornare libero sed arcu laoreet, sed semper felis rutrum.
                </p>
            </div>
        </div>

    </main>

    <footer>
        <p>&copy; 2024 Pacepal. All rights reserved.</p>
    </footer>
    
</body>
</html>