@media (max-width: 800px) {

    /* --------------------common elements------------------------*/
    .gray-mobile-box {
        background-color: #D9D9D9;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 15px;
    }
    .default-smaller-header {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: left;
        margin-left: 0.8rem;
    }
    .filtres-races {
        width: 90%;
        text-align: left;
    }
    /* ------------------navigation and headers-------------------*/
    .default-nav-list {
        display: none;
    }
    header {
        height: 15vh;
        width: 100%;
    }
    .default-header-text {
        font-size: 2rem;
        margin-left: 0.2rem;
        font-weight: 600;
    }
    .header-img {
        width: 4rem;
        margin-left: 0.2rem;
    }
    .mobile-menu-icon {
        width: 20%;
        height: 40%;
        align-self: center;
    }
    /* --------------------------forms----------------------------*/
        /* form {
        height: 50%;
        width: 80%;
    } */
    /*--------------------------buttons---------------------------*/
    .bigger-button-size {
        width: 80%;
    }
    .big-purple-button {
        width: 30%;
        font-size: 0.8rem;
        padding: 0.6rem;
        margin: 0.4rem;
    }
    .blue-button {
        background-color: #56A9D8;
        font-family: Raleway;
        font-size: 1rem;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid transparent;
        padding: 0.4rem;
        margin: 1rem;
        align-self: center;
        width: 45%;
    }
    .yellow-button {
        background-color: #F9B872;
        font-family: Raleway;
        font-size: 1rem;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid transparent;
        padding: 0.4rem;
        margin-left: 0.4rem;
        align-self: center;
        width: 70%;
    }
    .smaller-button {
        width: 50%;
        margin: 0;
        margin-left: 2.5rem;
    }
    /* ---------------------login screen--------------------------*/
    .login-forms-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .single-login-form-1 {
        height: 70%;
        width: 80%;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .single-login-form-2 {
        display: none;
    }
    .create-subtitle {
        font-size: 0.9rem;
    }
    .mobile-additional-login-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* -----------------races calendar screen---------------------*/
    .displayed-races-single-container {
        display: grid;
        grid-template-columns: 40% 60%;;
        grid-template-rows: 2fr 1fr 1fr;

    }
    .default-race-img { 
        width: 100%;
        height: 75%;
        border-radius: 15px;
    }
    .race-details-small-icon {
        margin-left: 0.8rem;
        margin-top: 0.6rem;
        width: 60%;
        height: 50%;
    }
    .race-details-text {
        margin-left: 0.8rem;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 500;
    }
    /* -----------------race details screen---------------------*/
    .smaller-race-details-button {
        width: 50%;
        margin-top: -0.5rem;
    }
    .race-details-paragraph {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
    /* -------------------my races screen-----------------------*/
    .my-races-single-container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr 1fr;
        align-items: center; 
        justify-self: center;
    }
    .my-races-img {
        grid-column: 1;
        grid-row: 1;
    }
    .my-races-small-icon {
        width: 30%;
    }
    .my-races-icon-text {
        grid-column: 1;
        grid-row: 2;
    }
    .my-races-button {
        align-self: center;
        justify-self: start;
        margin-top: -0.4rem;
        grid-column: 2;
        grid-row: 2;
    }
    /* -------------------my account screen-----------------------*/
    .my-account-main-container {
        position: relative;
    }
    .my-account-name-header-desktop {
        display: none;
    }
    .my-account-header-container {
        display: flex;
    }
    .my-account-mobile-box {
        background-color: #F3F2F2;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    }
    .my-account-icon {
        width: 20%;
        margin: 0.4rem;
    }
    .my-account-name-header-mobile {
        align-self: center;
        justify-self: center;
    }
    .separator { 
        margin-top: 0.8rem;
    }
    .my-account-form form {
        width: 100%;
    }
    /* .my-account-button {
        position: absolute;
        bottom: 0; 
        left: 50%;
        transform: translateX(-50%);
    } */


    
}

@media (min-width: 801px) {

    /* --------------------common elements------------------------*/
    .light-gray-box-style {
        background-color: #F3F2F2;
        padding: 0.8rem;
        margin: 0.8rem;
        border-radius: 15px;
    }
    .dark-gray-box-style{
        background-color: #D9D9D9;
        padding: 0.8rem;
        border-radius: 15px;
        margin: 0.8rem;
    }
    .default-smaller-header {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: left;
        margin-left: 0.4rem;
    }
    /* ------------------navigation and headers-------------------*/
    .header-img {
        width: 5rem;
        margin-left: 1rem;
    }
    .default-header-text {
        font-size: 2.5rem;
        margin-left: 0.5rem;
        font-weight: 600;
    }
    .default-nav-list ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 2rem;
    }
    
    .default-nav-list li {
        margin-right: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .mobile-menu-icon {
        display: none;
    }
    /* --------------------------forms----------------------------*/
    /*--------------------------buttons---------------------------*/
    .big-purple-button {
        width: 30%;
        font-size: 1.2rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    .blue-button {
        background-color: #56A9D8;
        font-family: Raleway;
        font-size: 1rem;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid transparent;
        padding: 0.4rem;
        margin: 1rem;
        align-self: center;
        width: 45%;
    }
    .yellow-button {
        background-color: #F9B872;
        font-family: Raleway;
        font-size: 1rem;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid transparent;
        padding: 0.4rem;
        margin: 1rem;
        align-self: center;
        width: 45%;
    }
    .smaller-button {
        width: 20%;
    }
    /* ---------------------login screen--------------------------*/
    .mobile-additional-login-page {
        display: none;
    }
    .single-login-form {
        height: 75%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 2rem;
        margin-right: 2rem;

    }
    .single-login-form-1 {
        height: 70%;
    }
    .single-login-form-2 {
        height: 85%;
    }
    /* -----------------races calendar screen---------------------*/
    .filtres-races {
        width: 90%;
        text-align: left;
    }
    .displayed-races-single-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 35% repeat(3, 1fr);
    }
    .default-race-img {
        grid-column: 1;
        grid-row: span 4;
        width: 90%;
        height: 80%;
        border-radius: 15px;
        align-self: center;
        justify-self: center;
    }
    .race-calendar-header {
        grid-column: 2 / 4;
        grid-row: 1;
        align-self: center;
    }
    .icon-text-container {
        margin-left: 0.4rem;
    }
    .icon-text-container-1 {
        grid-column: 2;
        grid-row: 2;
    }
    .icon-text-container-2 {
        grid-column: 2;
        grid-row: 3;
    }
    .icon-text-container-3 {
        grid-column: 2;
        grid-row: 4;
    }
    .races-calendar-button {
        grid-column: 4;
        grid-row: 1;
        width: 60%;
        justify-self: center;
    }
    .race-details-small-icon {
        margin-top: 0.6rem;
        width: 25%;
        height: 40%;
    }
    .race-details-text {
        margin-left: 0.6rem;
        font-weight: 500;
    }
    /* -----------------race details screen---------------------*/
    .race-details-smaller-img {
        width: 30%;
        height: 80%;
        border-radius: 15px;
        justify-self: center;
        margin: 0.6rem;

    }
    .smaller-padding-and-margin {
        padding: 0;
        margin-left: 0;
    }
    .smaller-race-details-button {
        margin: 0.7rem;
        width: 15%;
    }
    .race-details-paragraph {
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }
    /* -------------------my races screen-----------------------*/
    .my-races-single-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .my-races-img {
        grid-column: 1;
        grid-row: 1 / span 2;
        align-self: center;
    }
    .my-races-small-icon {
        width: 15%;
    }
    .my-races-icon-text {
        grid-column: 2;
    }
    .my-races-button {
        align-self: center;
        justify-self: end;
        grid-column: 3;
        grid-row: 1;
    }
    /* -------------------my account screen-----------------------*/
    .my-account-name-header-mobile {
        display: none;
    }
    .my-account-main-container {
        display: grid;
        grid-template-columns: 20% 80%;
    }
    .my-account-header-container{
        grid-column: 1;
    }
    .my-account-user-data-container {
        grid-column: 2;
        position: relative;
    }
    .my-account-icon {
        width: 80%;
        justify-self: center;
        margin: 0.8rem;
        margin-top: 1.2rem;
    }
    .my-account-form {
        margin-left: 0;
    }
    .my-account-form input{
        width: 35%;
    }
    .my-account-button {
        position: absolute;
        bottom: 0; 
        width: 20%;
    }
    .my-account-button-1 {
        left: 0; 
    }
    .my-account-button-2 {
        right: 0; 
    }

}


/* --------------------common elements------------------------*/
body, html {
    font-family: Raleway;
    background: #F7F9FA;
    margin: 0;
    width: 100%;
}
footer {
    /* TODO - change footer behaviour*/
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 5vh;
    width: 100%;
    font-size: 0.8rem;
    background-color: #D9D9D9;
    border-radius: 15px 15px 0px 0px;
}
.races-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.displayed-races {
    width: 90%;
}
.icon-text-container {
    width: 50%;
    /* width: 100%; */
    display: flex;
}
/* ------------------navigation and headers----------------------*/
header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #F9B872;
    border-radius: 0px 0px 15px 15px;
}
nav {
    height: 15vh;
    background-color: #F9B872;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 15px 15px;
    padding: 0.8rem;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover, nav a:focus {
    font-weight: 600;
    text-decoration: underline;
}
.default-nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* --------------------------forms-----------------------------*/
form {
    width: 85%;
    display: flex;
    flex-direction: column;
}
input {
    background-color: #D9D9D9;
    font-family: Raleway;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 1.2rem;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/*--------------------------buttons-----------------------------*/
.big-purple-button {
    background-color: #B89EE1;
    text-align: center;
    font-family: Raleway;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid transparent;
}
/* ---------------------login screen---------------------------*/
.simple-login-header {
    width: 100%;
    margin: 0; 
    padding: 0;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}
.login-icon {
    width: 15%;
    margin-top: 0.5rem;
}
.login-forms-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh; 
}
.single-login-form-style {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    border-radius: 15px;
}
/* -----------------races calendar screen---------------------*/
.box-filters-race-calendar {
    display: flex;
}
/* -------------------my races screen-----------------------*/
.my-races-img {
    width: 95%;
    height: 95%;
    border-radius: 15px;
}
.my-races-small-icon {
    align-self: start; 
    margin-left: 0.6rem;
    height: 30%;
}
.my-races-text {
    margin-top: 0.2rem; 
    align-self: start; 
    margin-left: 0.6rem;
    font-weight: 500;
}
.my-races-header {
    grid-column: 2;
    font-weight: 500;
    align-self: start;
}
/* -------------------my account screen-----------------------*/
.separator {
    border-top: 1px solid #000; 
    width: 100%; 
}
.my-account-form input{
    margin-left: 0;
    margin-top: 0.2rem;
}
.my-account-header {
    margin-bottom: 0.2rem;
    font-weight: 500;
}